<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteRule ^damage_assessment_system/damage_assessment_system/?$ damage_assessment_system/ [R=302,L]
    RewriteRule ^damage_assessment_system/damage_assessment_system/(.*)$ damage_assessment_system/$1 [R=302,L]
    RewriteRule ^phc/phc/?$ phc/ [R=302,L]
    RewriteRule ^phc/phc/(.*)$ phc/$1 [R=302,L]
    RewriteRule ^damage_assessment_system/login\.php$ damage_assessment_system/login [R=302,L]
    RewriteRule ^phc/login\.php$ phc/login [R=302,L]
    RewriteRule ^login\.php$ login [R=302,L]

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
